In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.plotting.register_matplotlib_converters()
#from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
%matplotlib inline

In [3]:
###test_data = pd.read_csv('data-sets/test.csv')
train_data = pd.read_csv('data-sets/train.csv')
#print(train_data)
###le = preprocessing.LabelEncoder()
###train_data['Sex'] = le.fit_transform(train_data.Sex)
###test_data['Sex'] = le.transform(test_data.Sex)

###train_data = train_data.dropna(subset=['Age'])
###test_data = test_data.dropna(subset=['Age', 'Fare'])
###train_data['Embarked'] = le.fit_transform(train_data.Embarked.astype(str))
###test_data['Embarked'] = le.transform(test_data.Embarked.astype(str))
#train_data.Sex = le.transform(train_data.Sex)
###train_data = train_data.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])
###test_data =  test_data.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])
train_data.head()
###df1 = test_data[test_data.isna().any(axis=1)]
###train_data.head()
#Male is 1, Female is 0
#test_data.head()
#train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test_data = pd.read_csv('data-sets/test.csv')
train_data = pd.read_csv('data-sets/train.csv')
#print(train_data)
le = LabelEncoder()
train_data['Sex'] = le.fit_transform(train_data.Sex) #Male as 1, Female as 0
test_data['Sex'] = le.transform(test_data.Sex)       #Male as 1, Female as 0
train_data.head()
train_data = train_data.drop(columns=['Name'])
test_data = test_data.drop(columns=['Name'])
#train_data.shape
####train_data = train_data.dropna(subset=['Age'])
####test_data = test_data.dropna(subset=['Age', 'Fare'])
####train_data['Embarked'] = le.fit_transform(train_data.Embarked.astype(str))
####test_data['Embarked'] = le.transform(test_data.Embarked.astype(str))
#train_data.Sex = le.transform(train_data.Sex)
####train_data = train_data.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])
####test_data =  test_data.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])
#train_data.head()
####df1 = test_data[test_data.isna().any(axis=1)]
####train_data.head()
#Male is 1, Female is 0
#test_data.head()
train_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,1,35.0,0,0,373450,8.0500,NaN,S

In [6]:
test_data.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,1,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,0,47.0,1,0,363272,7.0000,NaN,S
2,894,2,1,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,1,27.0,0,0,315154,8.6625,NaN,S
4,896,3,0,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
print(train_data.shape)
print(test_data.shape)

(891, 11)
(418, 10)

# bins = (1, 1, 1)
group_names = ('survived', 'perished')
groups = train_data.groupby((pd.cut(train_data.Survived, bins), 'Age'))

In [ ]:
cm = sns.light_palette("green", as_cmap=True)
corr = train_data.corr()
corr.style.set_caption('Colormaps, with a caption.').background_gradient(cmap=cm)

In [ ]:
plt.figure(figsize=(10,4))
sns.lineplot(train_data.Survived, train_data.Pclass)

In [ ]:
plt.figure(figsize=(10,4))
sns.set_style("whitegrid")
sns.lineplot(train_data.Pclass, train_data.Survived)

In [ ]:
plt.figure(figsize=(5,4))
plt.ylim(0.0, 1.0)
plt.xlim(1, 3)
sns.set_style("whitegrid")
sns.barplot(train_data.Pclass, train_data.Survived, palette=["gold", "silver", "darkorange"], ci=None)
#sns.lineplot(train_data.Pclass, train_data.Survived)

In [ ]:
plt.figure(figsize=(7,5))
plt.ylim(0.0, 1.0)
plt.xlim(1, 3)
sns.set_style("whitegrid")
sns.barplot(x=train_data.Pclass, y=train_data.Survived, hue=train_data.Sex, palette=["lightpink", "skyblue"], ci=None)

In [ ]:
plt.figure(figsize=(7,5))
sns.set_style("whitegrid")
sns.lineplot(x=train_data.Parch,y=train_data.Survived, ci=0)
sns.lineplot(x=train_data.SibSp,y=train_data.Survived, ci=0)

In [ ]:
df1 = train_data.Survived
train_data = train_data.drop(columns=['Survived'])
X_train, X_test, y_train, y_test = train_test_split(train_data, df1, test_size=0.25, random_state=0)
#X_train, X_test, y_train, y_test = train_test_split(train_data, test_data, random_state=0)
knn = KNeighborsClassifier(n_neighbors=1)

knn.fit(X_train, y_train)

In [ ]:
prediction = knn.predict(test_data)
print(prediction)

In [ ]:
print(knn.score(X_test, y_test))

In [ ]:
test_data.shape

In [ ]:
print(knn.score(X_test, y_test))

In [ ]:
test_data.shape